.has-sidebar {
  display: flex;
  #main {flex: 1 1 70%; margin-right: 80px;}
  aside { flex: 0 0 30%;}
  }

aside {
  @include box;
}
@media (max-width: 800px) {
.has-sidebar {
      flex-direction: column;
      #main { margin: 0;}
  }
}

.gallery {
  display: flex;
  .gallery-item {
    flex: 1 1 auto;
    margin: 5px;
  }
}
