#masthead {
  width: 100%;
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .site-branding {
      flex: 1 1 auto;
    }
    .main-navigation {
      flex: 0 0 auto;
      #primary-menu {
        display: flex;
        padding: 45px 0 0;
        li {
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          padding: 0 15px;
          line-height: 14px;
          a { color: #fff; font-size: 14px; opacity: 0.7; }
          &.current_page_item a {
            display: bold;
            opacity: 0.9;
          }
          &:first-child {
            border-left: none;
          }
        }
      }

    }
  }
}


.site-branding {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 20px 0 30px;
  .site-title, .site-description {
    margin: 0;
    padding:0;
  }

  .site-title a {
    font-family: $font__alt;
    font-style: italic;
    text-shadow: 0 1px 1px #000;
    color: #fff;
    opacity: 0.8;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .site-description {
    display: block;

        margin-left: 35px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        opacity: 0.4;
        font-style: italic;

  }
}
@media (max-width: 600px) {
  #masthead .wrapper {
    flex-direction: column;
    align-items: center;
    .main-navigation #primary-menu { padding: 20px 0; }
  }
  .site-branding {
      flex-direction: column;
      padding: 10px 0;
      text-align: center;
      .site-description {
        margin-left: 0;
      }
    }
  }

.custom-logo {
  max-width: 60%;
}
