@import "header";
@import "footer";
@import "content";
@import "menus";


html, body {
  height: 100%;
  overflow: auto;
}
#page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#masthead {
  background: #212324;
  // box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);
  padding: 0px;
  flex: 0 0 auto;
}
#content {
  flex: 1 1 auto;
  padding: 20px;
  background: #fafafa;
}
.content {
  flex: 1 1 auto;
}
#page-header {
  h1 {
    margin: 0 0 20px;
  }
}
#colophon {
  background: #212324;
  padding: 20px;
  flex: 0 0 auto;
}
.wrapper {
	margin: 0 auto;
	width: 1228px;
  max-width: 100%;
  position: relative;
}
.wrapper.has-sidebar {
  // width: 1028px;
}

.threecols {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	justify-content: flex-start;
	article {
		display: inline-block;
		overflow: hidden;
		margin-top: 0;
		flex: 0 0 31%;
		width: 31%;
		margin: 0 3.5% 35px 0;
		padding: 15px;
		position: relative;
		&:nth-child(3n+0) {
			margin-right: 0;
		}
	}
}
.twocols {
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	justify-content: flex-start;
	article {
		display: inline-block;
		overflow: hidden;
		margin-top: 0;
		flex: 0 0 48%;
		width: 48%;
		margin: 0 3.5% 35px 0;
		padding: 15px;
		position: relative;
		&:nth-child(2n+0) {
			margin-right: 0;
		}
	}
}
@media (max-width: 1000px) {
  .threecols {
    article {
      width: 46%;
      flex: 0 0 46%;
    }
  }
}
@media (max-width: 600px) {
  #content {
    padding: 20px 0;
  }
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  .threecols {
  //  flex-direction: column;
    article {
      width: 100%;
      flex: 0 0 100%;
      // margin-bottom: 35px;
    }
  }
}
.comment-list {
  padding: 0;
  margin: 30px 0 0;
  list-style-type: none;
  ul {
    margin: 0;
    list-style-type: none;
  }
  .comment-content p {
    margin: 0 0 8px;
  }
  .reply {
    text-align: right;
    font-size: 15px;
  }
  .comment-meta {
    height: 65px;
  }
  .says { display: none; }
  .comment-metadata { opacity: 0.5;}
  .comment-author {
    font-size: 18px;

    .fn {
      display: block;
      line-height: 35px;
    }
    img {
      border-radius: 100%;
      margin-right: 9px;
      float: left;
      width: 60px;
    }

  }
}
#commentform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .comment-notes {
    margin: 0;
  }
  .comment-form-comment { width: 100%; flex: 1 1 100%; margin-bottom: 0;}
  .comment-subscription-form { display: none; }
  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    flex: 0 0 30%;
    label {
      display: block;
    }
    input {
      line-height: 28px;
      width: 100%;
    }
  }
.form-submit {
  text-align: right;
  .submit {
    background: #212324;
    color: #fff;
    font-size: 15px;
    border: none;
    line-height: 35px;
    padding: 5px 20px;
    }
}

}
