 @import "headings"; /*!
 Theme Name: Wald 1.0
 Theme URI: http://underscores.me/
 Author: Underscores.me
 Author URI: http://underscores.me/
 Description: Description
 Version: 1.0.0
 License: GNU General Public License v2 or later
 License URI: LICENSE
 Text Domain: _s
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.
 _s is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
 Underscores is distributed under the terms of the GNU GPL v2 or later.
 Normalizing styles have been helped along thanks to the fine work of
 Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
 */ /*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 # Normalize
 # Typography
 # Elements
 # Forms
 # Navigation
 ## Links
 ## Menus
 # Accessibility
 # Alignments
 # Clearings
 # Widgets
 # Content
 ## Posts and pages
 ## Comments
 # Infinite scroll
 # Media
 ## Captions
 ## Galleries
 --------------------------------------------------------------*/ /*--------------------------------------------------------------
 # Normalize
 --------------------------------------------------------------*/ /*--------------------------------------------------------------
 # Globals
 --------------------------------------------------------------*/ html { box-sizing:border-box; }

 *,*:before,*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing:inherit; }

 body { background:#f0f0f0; /* Fallback for when there is no custom background color defined. */ }

 /*--------------------------------------------------------------
 ## Typography
 --------------------------------------------------------------*/ body,button,input,select,optgroup,textarea { color:#424242; font-family:lato, 'helvetica neue', helvetica, arial, verdana; font-size:16px; font-size:1rem; line-height:1.5; }

 p { margin-bottom:1.5em; }

 dfn,cite,em,i { font-style:italic; }

 blockquote { margin:0 1.5em; }

 address { margin:0 0 1.5em; }

 pre { background:#eee; font-family:"Courier 10 Pitch", Courier, monospace; font-size:15px; font-size:0.9375rem; line-height:1.6; margin-bottom:1.6em; max-width:100%; overflow:auto; padding:1.6em; }

 code,kbd,tt,var { font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size:15px; font-size:0.9375rem; }

 abbr,acronym { border-bottom:1px dotted #666; cursor:help; }

 mark,ins { background:#fff9c0; text-decoration:none; }

 big { font-size:125%; }

 h1,h2,h3,h4,h5,h6 { clear:both; color:#212121; font-weight:900; font-style:normal; }

 article h1,article h2,article h3,article h4,article h5,article h6 { font-family:Merriweather, serif; color:#2f2f2f; }

 /*--------------------------------------------------------------
 ## Headings
 --------------------------------------------------------------*/ /*--------------------------------------------------------------
 ## Links
 --------------------------------------------------------------*/ a { color:#607d8b; text-decoration:none; }

 a:visited { color:#78909c; }

 a:hover,a:focus,a:active { color:#607d8b; }

 a:focus { outline:thin dotted; }

 a:hover,a:active { outline:0; }

 /*--------------------------------------------------------------
 ## Lists
 --------------------------------------------------------------*/ ul,ol { margin:0 0 1.5em 3em; }

 ul { list-style:disc; }

 ol { list-style:decimal; }

 li > ul,li > ol { margin-bottom:0; margin-left:1.5em; }

 dt { font-weight:bold; }

 dd { margin:0 1.5em 1.5em; }

 /*--------------------------------------------------------------
 ## Tables
 --------------------------------------------------------------*/ table { margin:0 0 1.5em; width:100%; line-height:1.7em; font-size:16px; }

 table td { vertical-align:top; border:1px solid #f0f0f0; padding:10px 10px 20px; }

 table td:first-child { width:250px; }

 p { margin-bottom:1.5em; line-height:1.7em; font-size:16px; }

 hr { background-color:#ccc; border:0; height:1px; margin-bottom:1.5em; }

 img { height:auto; /* Make sure images are scaled correctly. */ max-width:100%; /* Adhere to container width. */ }

 figure { margin:1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

 /*--------------------------------------------------------------
 ## Buttons
 --------------------------------------------------------------*/ button,input[type="button"],input[type="reset"],input[type="submit"] { border:1px solid; border-color:#ccc #ccc #bbb; border-radius:3px; background:#e6e6e6; color:rgba(0, 0, 0, .8); font-size:12px; font-size:0.75rem; line-height:1; padding:0.6em 1em 0.4em; }

 button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover { border-color:#ccc #bbb #aaa; }

 button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus { border-color:#aaa #bbb #bbb; }

 /*--------------------------------------------------------------
 ## Fields
 --------------------------------------------------------------*/ input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea { color:#666; border:1px solid #ccc; border-radius:3px; padding:3px; }

 input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus { color:#111; }

 select { border:1px solid #ccc; }

 textarea { width:100%; }

 /*--------------------------------------------------------------
 # Elements
 --------------------------------------------------------------*/ /* Text meant only for screen readers. */ .screen-reader-text { border:0; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute !important; width:1px; word-wrap:normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

 .screen-reader-text:focus { background-color:#f1f1f1; border-radius:3px; box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6); clip:auto !important; clip-path:none; color:#21759b; display:block; font-size:14px; font-size:0.875rem; font-weight:bold; height:auto; left:5px; line-height:normal; padding:15px 23px 14px; text-decoration:none; top:5px; width:auto; z-index:100000; /* Above WP toolbar. */ }

 /* Do not show the outline on the skip link target. */ #content[tabindex="-1"]:focus { outline:0; }

 .alignleft { display:inline; float:left; margin-right:1.5em; }

 .alignright { display:inline; float:right; margin-left:1.5em; }

 .aligncenter { clear:both; display:block; margin-left:auto; margin-right:auto; }

 .wp-caption { margin-bottom:1.5em; max-width:100%; }

 .wp-caption img[class*="wp-image-"] { display:block; margin-left:auto; margin-right:auto; }

 .wp-caption .wp-caption-text { margin:0.8075em 0; }

 .wp-caption-text { text-align:center; }

 .clear:before { content:""; display:table; table-layout:fixed; }

 .clear:after { clear:both; }

 /*--------------------------------------------------------------
 # Layout
 --------------------------------------------------------------*/ #masthead { width:100%; }

 #masthead .wrapper { display:flex; align-items:flex-start; justify-content:space-between; }

 #masthead .wrapper .site-branding { flex:1 1 auto; }

 #masthead .wrapper .main-navigation { flex:0 0 auto; }

 #masthead .wrapper .main-navigation #primary-menu { display:flex; padding:45px 0 0; }

 #masthead .wrapper .main-navigation #primary-menu li { border-left:1px solid rgba(255, 255, 255, 0.5); padding:0 15px; line-height:14px; }

 #masthead .wrapper .main-navigation #primary-menu li a { color:#fff; font-size:14px; opacity:0.7; }

 #masthead .wrapper .main-navigation #primary-menu li.current_page_item a { display:bold; opacity:0.9; }

 #masthead .wrapper .main-navigation #primary-menu li:first-child { border-left:none; }

 .site-branding { display:flex; align-items:baseline; justify-content:flex-start; padding:20px 0 30px; }

 .site-branding .site-title,.site-branding .site-description { margin:0; padding:0; }

 .site-branding .site-title a { font-family:Merriweather, serif; font-style:italic; text-shadow:0 1px 1px #000; color:#fff; opacity:0.8; font-size:40px; font-weight:400; text-decoration:none; }

 .site-branding .site-title a:hover { text-decoration:none; }

 .site-branding .site-description { display:block; margin-left:35px; font-size:14px; font-weight:600; color:#fff; opacity:0.4; font-style:italic; }

 @media (max-width:600px) { #masthead .wrapper { flex-direction:column; align-items:center; }

 #masthead .wrapper .main-navigation #primary-menu { padding:20px 0; }

 .site-branding { flex-direction:column; padding:10px 0; text-align:center; }

 .site-branding .site-description { margin-left:0; }

 }

 .custom-logo { max-width:60%; }

 .has-sidebar { display:flex; }

 .has-sidebar #main { flex:1 1 70%; margin-right:80px; }

 .has-sidebar aside { flex:0 0 30%; }

 aside { background-color:#fff; box-shadow:0 2px 25px rgba(0, 0, 0, .08); padding:20px; }

 @media (max-width:800px) { .has-sidebar { flex-direction:column; }

 .has-sidebar #main { margin:0; }

 }

 .gallery { display:flex; }

 .gallery .gallery-item { flex:1 1 auto; margin:5px; }

 .main-navigation { display:block; }

 .main-navigation ul { display:none; list-style:none; margin:0; padding-left:0; }

 .main-navigation ul ul { box-shadow:0 3px 3px rgba(0, 0, 0, 0.2); float:left; position:absolute; top:100%; left:-999em; z-index:99999; }

 .main-navigation ul ul ul { left:-999em; top:0; }

 .main-navigation ul ul li:hover > ul,.main-navigation ul ul li.focus > ul { left:100%; }

 .main-navigation ul ul a { width:200px; }

 .main-navigation ul li:hover > ul,.main-navigation ul li.focus > ul { left:auto; }

 .main-navigation li { float:right; position:relative; }

 .main-navigation a { display:block; text-decoration:none; }

 /* Small menu. */ .menu-toggle,.main-navigation.toggled ul { display:block; }

 @media screen and (min-width:37.5em) { .menu-toggle { display:none; }

 .main-navigation ul { display:block; }

 }

 .site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation { margin:0 0 1.5em; overflow:hidden; }

 .comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous { float:left; width:50%; }

 .comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next { float:right; text-align:right; width:50%; }

 .widget { margin:10px 0 30px; }

 .widget ul { padding:0 0em; list-style:none; margin:0; font-size:15px; }

 .widget ul li { margin:5px 0; }

 .widget ul ul { padding:0 0 0 1em; }

 .widget td,.widget th { padding:0.2em; text-align:left; }

 html,body { height:100%; overflow:auto; }

 #page { height:100%; display:flex; flex-direction:column; align-items:stretch; }

 #masthead { background:#212324; padding:0px; flex:0 0 auto; }

 #content { flex:1 1 auto; padding:20px; background:#fafafa; }

 .content { flex:1 1 auto; }

 #page-header h1 { margin:0 0 20px; }

 #colophon { background:#212324; padding:20px; flex:0 0 auto; }

 .wrapper { margin:0 auto; width:1228px; max-width:100%; position:relative; }

 .threecols { display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; }

 .threecols article { display:inline-block; overflow:hidden; margin-top:0; flex:0 0 31%; width:31%; margin:0 3.5% 35px 0; padding:15px; position:relative; }

 .threecols article:nth-child(3n+0) { margin-right:0; }

 .twocols { display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; }

 .twocols article { display:inline-block; overflow:hidden; margin-top:0; flex:0 0 48%; width:48%; margin:0 3.5% 35px 0; padding:15px; position:relative; }

 .twocols article:nth-child(2n+0) { margin-right:0; }

 @media (max-width:1000px) { .threecols article { width:46%; flex:0 0 46%; }

 }

 @media (max-width:600px) { #content { padding:20px 0; }

 .wrapper { width:100%; box-sizing:border-box; padding:0 15px; }

 .threecols article { width:100%; flex:0 0 100%; }

 }

 .comment-list { padding:0; margin:30px 0 0; list-style-type:none; }

 .comment-list ul { margin:0; list-style-type:none; }

 .comment-list .comment-content p { margin:0 0 8px; }

 .comment-list .reply { text-align:right; font-size:15px; }

 .comment-list .comment-meta { height:65px; }

 .comment-list .says { display:none; }

 .comment-list .comment-metadata { opacity:0.5; }

 .comment-list .comment-author { font-size:18px; }

 .comment-list .comment-author .fn { display:block; line-height:35px; }

 .comment-list .comment-author img { border-radius:100%; margin-right:9px; float:left; width:60px; }

 #commentform { display:flex; flex-wrap:wrap; justify-content:space-between; }

 #commentform .comment-notes { margin:0; }

 #commentform .comment-form-comment { width:100%; flex:1 1 100%; margin-bottom:0; }

 #commentform .comment-subscription-form { display:none; }

 #commentform .comment-form-author,#commentform .comment-form-email,#commentform .comment-form-url { flex:0 0 30%; }

 #commentform .comment-form-author label,#commentform .comment-form-email label,#commentform .comment-form-url label { display:block; }

 #commentform .comment-form-author input,#commentform .comment-form-email input,#commentform .comment-form-url input { line-height:28px; width:100%; }

 #commentform .form-submit { text-align:right; }

 #commentform .form-submit .submit { background:#212324; color:#fff; font-size:15px; border:none; line-height:35px; padding:5px 20px; }

 /*--------------------------------------------------------------
 # Pages
 --------------------------------------------------------------*/ #page-places-list #main { margin-top:40px; }

 #page-places-list article { background-color:#fff; box-shadow:0 2px 25px rgba(0, 0, 0, .08); padding:20px; }

 #page-places-list .post-thumbnail { margin:-20px; display:block; overflow:hidden; height:300px; }

 #page-places-list .post-thumbnail img { min-height:100px; width:100%; object-position:center; object-fit:cover; height:100%; }

 #page-places-list a { position:absolute; left:20px; margin-top:-35px; font-size:20px; font-family:Merriweather, serif; color:#fff; background:rgba(33, 35, 36, 0.7); padding:3px 10px 3px 10px; font-style:italic; text-shadow:0 1px 1px rgba(0, 0, 0, 0.8); }

 #page-place-single .navigation { display:flex; justify-content:space-between; align-items:center; position:absolute; width:106%; margin-left:-3%; top:-22px; }

 #page-place-single .navigation a { font-size:50px; }

 #page-place-single .section-top { display:flex; margin-top:40px; padding-bottom:20px; }

 #page-place-single .section-top .col-left { flex:1 1 auto; padding-right:40px; }

 #page-place-single .section-top .col-right { flex:0 0 25%; }

 #page-place-single .section-bottom { margin-bottom:10px; }

 #page-place-single .entry-footer { text-align:right; font-style:italic; font-size:14px; margin-bottom:80px; }

 @media (max-width:1000px) { #page-place-single .section-top { margin-top:0; }

 #page-place-single .section-top .col-left { padding-right:0; }

 #page-place-single .section-top .col-right { display:none; }

 #page-place-single .navigation { position:relative; top:0px; margin:0; padding:0; box-sizing:border-box; width:100%; }

 }

 #page-stories-list article { background-color:#fff; box-shadow:0 2px 25px rgba(0, 0, 0, .08); padding:20px; display:flex; margin:0 0 30px; }

 #page-stories-list article .left-col { flex:0 0 30%; }

 #page-stories-list h2.entry-title { margin:0 0 10px; }

 #page-stories-list .entry-meta { font-size:16px; margin-bottom:15px; font-style:italic; }

 #page-stories-list #main { margin-top:40px; }

 #page-stories-list .post-thumbnail { margin:-20px 30px -20px -20px; display:block; overflow:hidden; }

 #page-stories-list .post-thumbnail img { min-height:100px; width:100%; object-position:center; object-fit:cover; height:100%; }

 @media (max-width:600px) { #page-stories-list article { flex-direction:column; width:100%; }

 #page-stories-list .post-thumbnail { margin:-20px -20px 30px -21px; }

 }

 @media (max-width:600px) { #page-stories-list h2.entry-title { font-size:24px; }

 }

 #page-stories-single article { font-family:'Libre Franklin', sans-serif; margin-top:40px; }

 #page-stories-single article h1 { margin:0; font-size:14px; }

 #page-stories-single article h2 { margin:10px 0 10px; font-size:40px; font-weight:normal; text-align:center; }

 #page-stories-single article h3 { margin:50px 0 30px; font-size:30px; font-weight:normal; text-align:center; }

 #page-stories-single article p { margin:2em 0; line-height:2em; font-size:17px; }

 #page-stories-single article header { margin:0 0 30px; }

 #page-stories-single article .wp-block-gallery { margin:0 0 -16px 0; }

 #page-stories-single article .entry-meta { font-size:16px; margin-top:8px; margin-bottom:15px; font-style:italic; text-align:center; }

 #page-stories-single article ul li:not(.blocks-gallery-item) { margin:2em 0; line-height:2em; font-size:17px; }

 #page-stories-single article .entry-content blockquote { margin:0 0 25px; padding:0 0 0 20px; border-color:#9c8f7f; }

 #page-stories-single article .entry-content blockquote p { margin-bottom:0; font-style:italic; }

 #page-stories-single article .entry-content blockquote footer,#page-stories-single article .entry-content blockquote cite { text-align:right; font-size:15px; display:block; }

 #page-stories-single article .entry-content blockquote footer:before,#page-stories-single article .entry-content blockquote cite:before { content:'- '; }

 #page-stories-single div.sharedaddy h3.sd-title,#page-stories-single #jp-relatedposts h3.jp-relatedposts-headline em,#page-stories-single h3#reply-title { font-family:lato, 'helvetica neue', helvetica, arial, verdana; color:#2f2f2f; margin:25px 0 1em 0; display:inline-block; line-height:1.2; font-size:18px; font-weight:700; }

 #page-stories-single div.sharedaddy h3.sd-title:before,#page-stories-single #jp-relatedposts h3.jp-relatedposts-headline em:before,#page-stories-single h3#reply-title:before { content:""; display:block; width:100%; min-width:30px; border-top:1px solid #ddd; margin-bottom:1em; }

 #page-stories-single article div.sharedaddy ul li { margin:0; }

 #page-stories-single .akismet_comment_form_privacy_notice { display:none; }

 @media (max-width:600px) { #page-stories-single article h2 { font-size:24px; }

 }

 .entry { font-family:'Libre Franklin', sans-serif; }

 .entry header { margin:0 0 30px; }

 .entry header h1 { margin:0; font-size:30px; }

 .entry header h2 { margin:10px 0 0; font-size:14px; font-weight:normal; }

 .entry .entry-content blockquote { margin:0 0 25px; border:0; padding:0; }

 .entry .entry-content blockquote p { margin-bottom:0; font-style:italic; }

 .entry .entry-content blockquote footer,.entry .entry-content blockquote cite { text-align:right; font-size:15px; }

 @media (max-width:600px) { .entry header h1 { font-size:20px; }

 }

/*# sourceMappingURL=style.css.map */