@import "galleries";
@import "places-list";
@import "places-single";
@import "stories-list";
@import "stories-single";

.entry {
  font-family: 'Libre Franklin', sans-serif;

  header {
    margin: 0 0 30px;
    h1 { margin: 0; font-size: 30px; }
    h2 { margin: 10px 0 0; font-size: 14px; font-weight: normal;}
  }


  .entry-content {
    blockquote {
      margin: 0 0 25px;
      border: 0;
      padding: 0;
      p {
        margin-bottom: 0;
        font-style: italic;
      }
      footer, cite {
        text-align: right;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 600px) {
  .entry header h1 { font-size: 20px;}
}
