#page-places-list {
    #main {
      margin-top: 40px;
    }
  	article {
      @include box;
    }
		.post-thumbnail {
			margin: -20px;
			display: block;
			overflow: hidden;
			height: 300px;
			img {
				min-height: 100px;
				width: 100%;
				object-position: center;
				object-fit: cover;
				height: 100%;
			}
      a {

      }
		}
    a::before {
      // content: "❧";
      // margin-right: 10px;
      // font-weight: bold;
      // font-size: 37px;
      // left: 4px;
      // top: -10px;
      // opacity: 1;
      // position: absolute;
      // text-shadow: -2px 2px 0px #000;
      // color: #4CAF50;
    }
  	a {
      position: absolute;
      left: 20px;
      margin-top: -35px;
      font-size: 20px;
      font-family: Merriweather, serif;
      color: #fff;
      background: rgba(33, 35, 36, 0.7);
      padding: 3px 10px 3px 10px;
      font-style: italic;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  	}
}
