#page-place-single {
  // background-position: 0 -200px;
  // background-size: contain;
  // background-repeat: no-repeat;
  // .page-place-single-overlay {
  //   background: -webkit-linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,1) 700px, rgba(0,0,0,1) 100%);
  //   background: -o-linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,1) 700px, rgba(0,0,0,1) 100%);
  //   background: linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,1) 700px, rgba(0,0,0,1) 100%);
  //   }
  .navigation {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	position: absolute;
    	width: 106%;
    	margin-left: -3%;
    	top: -22px;
    	a {
    		font-size: 50px;
    	}
  }
  .section-top {
    // color: #fff;
    // height: 600px;
    display: flex;
    margin-top: 40px;
    padding-bottom: 20px;
    .col-left { 	flex: 1 1 auto; padding-right: 40px; }
    .col-right {	flex: 0 0 25%;}
  }
  .section-bottom {
    margin-bottom: 10px;
  }
  .entry-footer {
     text-align: right;
     font-style: italic;
     font-size: 14px;
     margin-bottom: 80px;

  }
  @media (max-width: 1000px) {
    .section-top {
      margin-top: 0;
      .col-left { padding-right: 0;}
      .col-right { display: none; }
    }
    .navigation {
      position: relative;
      top: 0px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: 100%;
    }
  }
}
