#page-stories-single {
  article {
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 40px;
    h1 { margin: 0; font-size: 14px; }
    h2 { margin: 10px 0 10px; font-size: 40px; font-weight: normal; text-align: center; }
    h3 { margin: 50px 0 30px; font-size: 30px; font-weight: normal; text-align: center; }
    p { margin: 2em 0; line-height: 2em; font-size: 17px;}
    header { margin: 0 0 30px; }
    .wp-block-gallery {
      margin: 0 0 -16px 0;
    }
    .entry-meta {
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 15px;
      font-style: italic;
      text-align: center;
    }
    ul li:not(.blocks-gallery-item) {
      margin: 2em 0;
      line-height: 2em;
      font-size: 17px;
    }
    .entry-content {
      blockquote {
        margin: 0 0 25px;
        padding: 0 0 0 20px;
        border-color: #9c8f7f;
        p {
          margin-bottom: 0;
          font-style: italic;
        }
        footer, cite {
          text-align: right;
          font-size: 15px;
          display: block;
          &:before {
            content: '- ';
          }
        }
      }
    }
  }
  div.sharedaddy h3.sd-title,
  #jp-relatedposts h3.jp-relatedposts-headline em,
  h3#reply-title {
    font-family: lato, 'helvetica neue', helvetica, arial, verdana;
    color: #2f2f2f;
    margin: 25px 0 1em 0;
    display: inline-block;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 700;
    &:before {
      content: "";
      display: block;
      width: 100%;
      min-width: 30px;
      border-top: 1px solid #ddd;
      margin-bottom: 1em;
    }
  }

  article div.sharedaddy ul li {
    margin: 0;
  }
  .akismet_comment_form_privacy_notice {
    display: none;
  }
}

@media (max-width: 600px) {
  #page-stories-single article h2 {
    font-size: 24px;
  }
}
