#page-stories-list {
  article {
    @include box;
    display: flex;
    margin: 0 0 30px;
    .left-col {
      flex: 0 0 30%;
    }
  }

  h2.entry-title {
    margin: 0 0 10px;
  }
  .entry-meta {
    font-size: 16px;
    margin-bottom: 15px;
    font-style: italic;
  }
  #main {
    margin-top: 40px;
  }
  .post-thumbnail {
    margin: -20px 30px -20px -20px;
    display: block;
    overflow: hidden;
    img {
      min-height: 100px;
      width: 100%;
      object-position: center;
      object-fit: cover;
      height: 100%;
    }
  }
}
@media (max-width: 600px) {
    #page-stories-list {
      article {
        flex-direction: column;
        width: 100%;
        .left-col {}
      }
      .post-thumbnail  {
        margin: -20px -20px 30px -21px;
      }
  }
}

@media (max-width: 600px) {
  #page-stories-list h2.entry-title {
    font-size: 24px;
  }
}
