table {
	margin: 0 0 1.5em;
	width: 100%;
line-height: 1.7em;
font-size: 16px;
td { vertical-align: top; border: 1px solid #f0f0f0; padding: 10px 10px 20px;}
td:first-child {
	width: 250px;
}
td:last-child {
}
}
